* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(55, 51, 51);
}

.container {
  padding: 20px;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 1000px;  
  margin: 0 auto;  
  overflow: hidden;
}

.slides {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; 
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.slide img {
  width: 100%;
  height: auto; 
  max-width: 1000px; 
}

#slide1:checked ~ .slides #slide-1 {
  left: 0;
}

#slide2:checked ~ .slides #slide-2 {
  left: 0;
}

#slide3:checked ~ .slides #slide-3 {
  left: 0;
}

#slide4:checked ~ .slides #slide-4 {
  left: 0;
}

.dots {
  text-align: end;
  margin-top: 15px;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(23, 170, 238); 
  margin: 0 5px;
  cursor: pointer;
  border: 2px solid rgb(23, 170, 238); 
  transition: all 0.3s ease;
}

.dot:hover {
  background-color: white;
  border-color: white;
}

#slide1:checked ~ .dots label[for="slide1"],
#slide2:checked ~ .dots label[for="slide2"],
#slide3:checked ~ .dots label[for="slide3"],
#slide4:checked ~ .dots label[for="slide4"] {
  background-color: transparent; 
  border-color: rgb(23, 170, 238); 
}

#slide1:checked ~ .dots label[for="slide1"]:hover,
#slide2:checked ~ .dots label[for="slide2"]:hover,
#slide3:checked ~ .dots label[for="slide3"]:hover,
#slide4:checked ~ .dots label[for="slide4"]:hover {
  border-color: white; 
}

input[type="radio"] {
  display: none;
}


.slider-text p {
  display: none;
  text-align: start;
  font-size: 22px;
  color: #fff;
  margin-top: 10px;
  opacity: 0; 
  transform: translateX(-100%); 
  transition: opacity 0.5s ease, transform 0.5s ease;
}


#slide1:checked ~ .slider-text #text1 {
  display: block;
}

#slide2:checked ~ .slider-text #text2 {
  display: block;
}

#slide3:checked ~ .slider-text #text3 {
  display: block;
}

#slide4:checked ~ .slider-text #text4 {
  display: block;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(+100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


#slide1:checked ~ .slider-text #text1,
#slide2:checked ~ .slider-text #text2,
#slide3:checked ~ .slider-text #text3,
#slide4:checked ~ .slider-text #text4 {
  display: block;
  animation: slideIn 0.5s ease forwards; 
  opacity: 1;
  transform: translateX(0); 
}


@media (max-width: 800px) {
  .dots {
    text-align: center;
    margin-top: 15px;
  }
}